* {
    text-decoration: none;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

header {
    background-color: #8f2364;
}

header a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px;
}

/* nav {
    overflow: hidden;
    background-color: #771d53;
}

nav a {
    padding: 14px 16px;
    display: block;
    float: left;
}

nav :hover {
    background-color: #3f0f2d;
} */

article {
    background-color: black;
    margin: 4px;
    padding: 15px;
    border-radius: 5px;
}

article a {
    color: brown;
    border: 1px solid brown;
    padding: 5px;
}

article a:hover {
    padding: 7px;
    background-color: brown;
    color: white;
}