* {
    margin: 0;
}

header {
    background-color: #8f2364;
}

header a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 40px;
    color: white;
    text-decoration: none;
}

article {
    background-color: black;
    margin: 4px;
    padding: 15px;
    border-radius: 5px;
    color: white;
}

article a.link {
    color: brown;
    border: 1px solid brown;
    padding: 5px;
}

article a.link:hover {
    padding: 7px;
    background-color: brown;
    color: white;
}