@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    display: inline-block;
    text-align: center;
    padding: 40px;
    background-color: #8f2364;
    z-index: 100;
}

#colorTag p {
    color:aquamarine;
}

#bgColorTag {
    background-color: burlywood;
}

#bgColorTag p {
    color: black;
}

#bgImgTag {
    /* background-image: url(../img/space-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black; 
    
    Is the same below but with in one line
    */
    background-size: cover;
    background: black url(../img/space-background.jpg) no-repeat center;
    
}

#borderTag {
    border-style: dashed;
    border-color: cyan;
    border-width: 5px;
    border-radius: 20px;
}

#marginTag {
    margin-left: 25px;
}

#paddingTag {
    padding-left: 50px;
}

#textRtl {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#textAlign {
    text-align: center;
}

#textDecoration {
    text-decoration: underline;
}

#textTransformation {
    text-transform: uppercase;
}

#textIdent {
    text-indent: 50px;
}

#textSpace {
    letter-spacing: 5px;
}

#textHeight {
    line-height: 1px;
}

#textWordSpace {
    word-spacing: 15px;
}

#sizeTag {
    width: 200px;
    height: auto;
}

#fontTag {
    font-family: "Winky Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

a.button1 {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: none;
}

a.button1:hover {
    background-color: rgb(1, 201, 1);
    padding: 7px;
}

a.button2 {
    border: 1px solid white;
    padding: 5px;
    color: white;
}

a.button2:hover {
    padding: 7px;
    background-color: white;
    color: black;
}

a.button3 {
    color: white;
    border: none;
}

a.button3:hover {
    border-bottom: 5px solid white;
    background-color: black;
}

a.button4 {
    color: white;
    border: none;
}

a.button4:hover {
    font-size: 24px;
    font-weight: bold;
    background-color: black;
}

a.button5 {
    cursor: help;
}

a.button {
    display: inline-block;
    padding: 5px;
    border: none;
}

a.button:hover {
    padding: 7px;
    border: 2px solid white;
}

a.red {
    background-color: red;
    color: white;
}

a.white {
    background-color: white;
    color: black;
}

a.block {
    display: block;
    padding: 5px;
    border: none;
}

a.block:hover {
    padding: 10px;
    border: 5px solid black;
}
#maxWidthTag {
    max-width: 800px;
}

.container {
    margin: 5px;
    padding: 5px;
    background-color: #333;
    position: relative;
}

.content {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.div1 {
    background-color: red;
    position: relative;
    left: 50px;
}

.div2 {
    background-color: green;
    position: relative;
}

.div3 {
    background-color: blue;
}

.div4 {
    background-color: brown;
    position: absolute;
    top: 20px;
    left: 10px;
}

.div5 {
    background-color: coral;
    position: sticky;
    bottom: 0%;
}

#overflowTag {
    height: 100px;
    overflow: auto;
}