* {
    text-decoration: none;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

header {
    color: white;
    background-color: #8f2364;
    text-align: center;
    padding: 40px 0px;
}

nav {
    overflow: hidden;
    background-color: #771d53;
}

nav a {
    color: white;
    padding: 14px 16px;
    display: block;
    float: left;
}

nav :hover {
    background-color: #3f0f2d;
}

article {
    background-color: black;
    margin: 4px;
    padding: 10px;
    border-radius: 5px;
}