* {
    text-decoration: none;
    margin: 0px;
    box-sizing: border-box;
}

header, nav a, .content {
    color: white;
}

header {
    background-color: #8f2364;
    text-align: center;
    padding: 40px 0px;
}

nav {
    overflow: hidden;
    background-color: #771d53;
}

nav a {
    padding: 14px 16px;
    display: block;
    float: left;
}

nav :hover {
    background-color: #3f0f2d;
}

.content {
    background-color: black;
    float: left;
    padding: 10px;
    border-radius: 10px;
}